/* 
NAME: Katherine Moore
MEID: KAT2341012
DATE: 08/07/2023
*/

body {
    font-family: sans-serif;
}

.text-center {
    text-align: center;
}

#slideshow {
    margin: 80px auto;
    position: relative;
    height: 240px;
    width: 240px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#slideshow div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}